/* general*/

.mainProductCart h4,h5{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin-top: 10px;
}
.mainProductCart input, select.custom-select{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom:1px solid gray;
    background-color: transparent;
}
/* cuerpo de formulario*/
.mainProductCart .encabezado p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin:0 auto;
    border-bottom: 1px solid #a8ab7a;
}
.mainProductCart #paginacion {
    overflow: hidden;
}
.mainProductCart .derecha{ 
    float: right;
}
.mainProductCart .imagen img{
    background-image: url('');
    width: 200px;
    border:1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.mainProductCart .card-body{
    padding: 0px;
}

.mainProductCart .carrito-total{
	background: #FC304D;
	cursor:  pointer;
	padding: 5px 10px;
	position: relative;
}
.mainProductCart .bolsa{
	position: absolute;
	background: #f2f2f2;
	display: none;
	padding:  5px;
	z-index:  9999;
}
.mainProductCart .simpleCart_items{
	width: 350px;
}
.mainProductCart .simpleCart_shelfItem{
	padding-top:  15px;
	padding-bottom: 15px;
}
.mainProductCart .item-image img{
	height: auto;
	width: 80px;
}
.mainProductCart .item_image,
.mainProductCart .item_Quantity,
.mainProductCart .item_price{
	margin-bottom: 15px;
}
.mainProductCart .item_price{
	font-size: 2em;
}
.mainProductCart .item-remove a{
	color: #EC2626;
}

.mainProductCart .item_add{
	border-radius: 21.5px;
	border:  thin solid;
	transition: .5s;
	padding:  5px 10px;
}
.mainProductCart .item_add:hover{
	background: #41DA7B;
	border:  thin solid #2DC466;
	color: #fff;
}

.mainProductCart .cantidad-precio{
    display: flex;
    flex-wrap: wrap;
}
.mainProductCart .precio{
    text-align: center;
}
.mainProductCart .precio input{
    margin-top: 10px;
}
.mainProductCart .descuento input{
    margin-top: 10px;
}
.mainProductCart .pago-envio{
    display: flex;
    flex-wrap: wrap;
} 
.mainProductCart .custom-select{
    border-radius: 0px;
    width: 50%;
}  
.mainProductCart .botonesAccion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0;
} 
.mainProductCart .accion{
    margin-bottom: 7px;
    text-align: center;
}
.mainProductCart .carrito{
    display: flex;
    flex-wrap: wrap;
}
.mainProductCart .titles{
    background-color: #534317;
    color:white;
    font-family: 'Roboto', sans-serif;
    border-bottom: 4px solid #e2ddf1
}
.mainProductCart .montserrat{
    font-family: 'Montserrat', sans-serif;
}
.mainProductCart .productoSeleccionado{
    font-size: 22px
}
.mainProductCart .producto .card{
    border:1px solid black;
}
.mainProductCart .producto .card-body{
    padding: 5px;
}
.mainProductCart .botones{
    color: white;
    background-color:  #4d582a
}


@media(min-width:768px){
    .mainProductCart h4, h5{
        font-family: 'Roboto', sans-serif;
        font-size: medium;
        margin-top: 10px;
    }
    .mainProductCart .encabezado p{
        font-size: 20px;
    }
    .mainProductCart .pago-envio{
        display:flex;
        flex-direction: column;
    }
    .mainProductCart .botonesAccion{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 30px 0;
    }
    .mainProductCart .botones{
        width: 200px;
    }
}

@media(min-width:1024px){
    .mainProductCart form.container-fluid{
        padding-left: 50px;
        padding-right: 50px;
    }
    .mainProductCart h4, h5{
        font-family: 'Roboto', sans-serif;
        font-size: large;
        margin-top: 10px;
    }    
    .mainProductCart .pago-envio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;  
    }
    .mainProductCart .botones{
        width: 250px;
    } 
}

