/* cuerpo de formulario*/
.mainProductAdd .encabezado p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    margin:0 auto;
    border-bottom: 1px solid #a8ab7a;
}
.mainProductAdd .titles{
    background-color: #534317;
    color:white;
    font-family: 'Roboto', sans-serif;
    border-bottom: 4px solid #e2ddf1;
}
.mainProductAdd .montserrat{
    font-family: 'Montserrat', sans-serif;
}
.mainProductAdd #paginacion {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    overflow: hidden;
} 
.mainProductAdd .derecha{ 
    float: right;
}
.mainProductAdd .izquierda{
     float: left;
}

.mainProductAdd .productoSeleccionado{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.mainProductAdd .card{
    border:1px solid grey;
}
.mainProductAdd .inputCodigo{
    border: 1px solid black
}
.mainProductAdd .buttonCodigo{
    background-color: white;
    border: 1px solid black
}
.mainProductAdd .borderRadiusCalcular2{
    border-radius: 0px 10px 10px 0px
}
.mainProductAdd .borderRadiusCalcular{
    border-radius: 10px 0px 0px 10px
}
.mainProductAdd .botones{
    font-size: 15px;
    color: white;
    background-color:  #4d582a ;
}



.mainProductAdd h4, h5{

    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin-top: 10px;
}
.mainProductAdd input, select{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom:1px solid gray;
    background-color: transparent;
}

.mainProductAdd .cod-cat{
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
}
.mainProductAdd .descripcion{
    display: flex;
    flex-wrap: wrap;
}

/* Estilo del área del input[file] */
.mainProductAdd .imagen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainProductAdd .drag-drop {
    height: 130px;
    width: 200px;
    text-align: center;
    color: white;
    position: relative;
}   
.mainProductAdd .drag-drop span.desc {
    display: block;
    font-size: 12px;
    padding: 0 8px;
    color: #000;
}
.mainProductAdd input[type="file"] {
    height: 160px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 3;
}
     
/* Estilo del área del input[file] con :hover */
.mainProductAdd .drag-drop:hover, input[type="file"]:hover {
    background-color: #ebefbc;
    cursor: pointer;
}
.mainProductAdd .drag-drop:hover span.desc {
    color: #fff;
} 
     
/* Composición del icono de Upload con FontAwesome */
.mainProductAdd .fa-stack {
    margin-top: 8px;
}    
.mainProductAdd .fa-stack .top { 
    color: white; 
}  
.mainProductAdd .fa-stack .medium { 
    color: black;
    text-shadow: 0 0 4px #666;
}     
.mainProductAdd .fa-stack .bottom { 
    color: rgba(225, 225, 225, .75); 
}
 
.mainProductAdd .accion{
    display: flex;
    justify-content: center;
}
.mainProductAdd .tarjeta-accion{
    display: flex;
    flex-direction: column;
}

 
@media(min-width:768px){
    .mainProductAdd .encabezado p{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;  
    }
    .mainProductAdd h4, h5{
        font-family: 'Roboto', sans-serif;
        font-size: medium;
        margin-top: 10px;
    }
    .mainProductAdd .cod-cat{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    
    }
    .mainProductAdd .precio-stock{
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    } 
    .mainProductAdd .botonesAccion{
        display: flex;
        justify-content: space-around;
    } 
    .mainProductAdd .botones{
        width: 250px;
        font-size: 12px;
    }  
}

@media(min-width:1024px){ 
    .mainProductAdd form.container-fluid{
        padding-left: 80px;
        padding-right: 80px;
    }
    .mainProductAdd h4, h5{
        font-family: 'Roboto', sans-serif;
        font-size: large;
        margin-top: 10px;
    }
    .mainProductAdd .cod-cat{
        margin-bottom:  20px;
        display: flex;
        flex-wrap: wrap;
    }
    .mainProductAdd .precio-stock{
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .mainProductAdd .botones{
        width: 250px;
        font-size: 15px;
    }
}
