<footer class="container-fluid">
    <div class="row">
        <!--=================================
        =            Seguinos en            =
        ==================================-->
        <div class="col-12 col-md-4 mt-3 mb-4">
            <div class="contenedorSeguinos text-center">
                <p class="seguinos">Seguinos en</p>
                <div class="social-bar mt-3 row text-center ml-1 justify-content-center">
                    <!-- Facebook -->
                    <div class="col-2">
                        <a href="" class="icon icon-facebook" target="_blank"></a>
                    </div>
                    <!-- Twitter -->
                    <div class="col-2">
                        <a href="" class="col-6 icon icon-twitter" target="_blank"></a>
                    </div>
                    <!-- youtube -->
                    <div class="col-2">
                        <a href="" class="col-6 icon icon-youtube" target="_blank"></a>
                    </div>
                    <!-- Instagram -->
                    <div class="col-2">
                        <a href="" class="col-6 icon icon-instagram" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--====  End of Seguinos en  ====-->
        <!--=====================================
        =            Metodos de pago            =
        ======================================-->
        <div class="col-12 col-md-4 text-center mt-3 mb-4">
            <p class="metodosPago">Metodos de pago</p>
            <div class="iconosTarjetas">
                <!-- Tarjetas -->
                <i class="far fa-credit-card"></i>
                <i class="fas fa-money-check"></i>
                <i class="fas fa-money-check-alt"></i>
                <i class="fas fa-credit-card"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-visa"></i>
            </div>
            <small class="nav-footer-copyright">
						
                © 2020-2021 Universo Camping S.R.L.
            
            </small>
            <p class="nav-footer-secondaryinfo">Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
        </div>
        <!--====  End of Metodos de pago  ====-->
        <!--==========================================
        =            Contactanos mediante            =
        ===========================================-->
        <div class="col-12 col-md-4 text-center mt-3">
            <p class="contactanos ">Contactanos mediante</p>
            <ul class="mt-1">
                <!-- contacto -->
                <li class="align-middle"><i class="">-Email</i></li>
                <li class="align-middle"><i class="">-Whatsapp</i></li>
                <li class="align-middle"><i class="">-Sucursales</i></li>
            </ul>
        </div>
        <!--====  End of Contactanos mediante  ====-->
    </div>
</footer>