<footer class="container-fluid">
    <div class="row">
        <!--=================================
        =            Seguinos en            =
        ==================================-->
        <div class="col-12 col-md-4 mt-3 mb-4">
            <div class="contenedorSeguinos text-center">
                <p class="seguinos">Seguinos en</p>
                <div class="social-bar mt-3 row text-center ml-1 justify-content-center">
                    <!-- Facebook -->
                    <div class="col-2">
                        <a href="" class="icon icon-facebook" target="_blank"></a>
                    </div>
                    <!-- Twitter -->
                    <div class="col-2">
                        <a href="" class="col-6 icon icon-twitter" target="_blank"></a>
                    </div>
                    <!-- youtube -->
                    <div class="col-2">
                        <a href="https://www.youtube.com/watch?v=YB1QNJsWyC8"class="icon icon-youtube" target="_blank" ></a>
                    </div>
                    <!-- Instagram -->
                    <div class="col-2">
                        <a href="" class="col-6 icon icon-instagram" target="_blank"></a>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--====  End of Seguinos en  ====-->
        <!--=====================================
        =            Metodos de pago            =
        ======================================-->
        <div class="col-12 col-md-4 text-center mt-3 mb-4">
            <p class="metodosPago">Metodos de pago</p>
            <div class="iconosTarjetas">
                <!-- Tarjetas -->
                <i class="far fa-credit-card"></i>
                <i class="fas fa-money-check"></i>
                <i class="fas fa-money-check-alt"></i>
                <i class="fas fa-credit-card"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-visa"></i>
            </div>
            <small class="nav-footer-copyright">
						
                © 2020-2021 Universo Camping S.R.L.
            
            </small>
            <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
        </div>
        <!--====  End of Metodos de pago  ====-->
        <!--==========================================
        =            Contactanos mediante            =
        ===========================================-->
        <div class="col-12 col-md-4 text-center mt-3">
            <p class="contactanos ">Contactanos mediante</p>
            <ul class="mt-1">
                <!-- contacto -->
                <li class="align-middle"><i class="">-Email</i></li>
                <li class="align-middle"><i class="">-Whatsapp</i></li>
                <li class="align-middle"><i class="">-Sucursales</i></li>
            </ul>
        </div>
        <!--====  End of Contactanos mediante  ====-->
        <div class="legal col-12">
            <ul id="footer-legal">
                <li class="d-f col-4 col-md-5  " style="display: flex; justify-content:flex-end;padding-right: 0;"><a href="http://qr.afip.gob.ar/?qr=p5au1r_IH8LlDW412wvqNA,," target="_F960AFIPInfo"
                        rel="nofollow"><img src="https://s3.amazonaws.com/mtgweb/footer/data-fiscal.jpg" alt="Data Fiscal" /></a></li>
                <li class="d-f col-8 col-md-7 " style="padding-top:15px ;"><a href="#"><img src="https://s3.amazonaws.com/mtgweb/footer/pdp-logo.png"
                            alt="Protección de Datos Personales - Empresa Registrada" id="pdp-logo" /></a></li>
            </ul>   
        </div>
        <div class="envios col-12 mt-3">
            <h5>Realizamos envios por:</h5>
            <img class="col-5 col-md-2 col-lg-3"src="/img/logo-chevallier.png" width="148" height="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="col-6 col-md-3 col-lg-2"src="/img/logo-correoarg.png" width="97" height="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="col-5 col-md-2 col-lg-2"src="/img/logo-oca.png" width="89" height="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img class="col-5 col-md-3 col-lg-3"src="/img/logo-viacargo.png" width="144" height="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</footer>