<%- include('partials/head.ejs') %>
<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>
    <!--=============================
    =            Content            =
    ==============================-->
    <main class="mainIndex">
        <!--CAJA CONTENIDO GENERAL-->
        <div class="Home">
            <!-- BANNER -->
            <div class="banner">
                <img src="/img/banner-2.png" alt="">
            </div>
            <!-- SECCIÓN CAROUSEL -->
            <h2 class="text-center tituloCarousel my-3"> Productos Recomendados </h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner ContenedorCarousel">
                    <div class="carousel-item active">
                        <div class="row productos justify-content-center">
                              
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/25" style="color: black;"> 
                                    <img src="/img/products/Indumentaria-Campera-Bugaboo-dama-Gris-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                                </a>
                            </div>
                            
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/19" style="color: black;"> 
                                    <img src="/img/products/Accesorios-Anafe-Brogas-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                                </a>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/18" style="color: black;"> 
                                    <img src="/img/products/Accesorios-Cortaplumas-Victorinox-Fisherman-Roja-17-Usos-1.4733.72-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row productos justify-content-center">
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/7" id="" style="color: black;"> 
                                    <img src="/img/products/Carpa-Hummer-Invicta-6D-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/14" style="color: black;"> 
                                    <img src="/img/products/Pesca-Reel-Abu-Garcia-Black-Max-3-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/48" style="color: black;"> 
                                    <img src="/img/products/Rifles-Revolver-Gamo-PR-776-Co2-Gas-Comprimido-2-cargadores-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row productos justify-content-center">
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/40" style="color: black;"> 
                                    <img src="/img/products/Calzado-Zapatillas-Vernom-Camber-Mid-Hombre-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/36" style="color: black;"> 
                                    <img src="/img/products/Calzado-Zapatillas-Vernom-Mujer-Climber-Lila-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <a href="/products/detail/37" style="color: black;"> 
                                    <img src="/img/products/Calzado-Zapatillas-Columbia-Caldorado-Trail-Running-2-300x300.jpg" class="d-block w-100" alt="...">
                                <article>
                                    <h2>$2000</h2>
                                    <span class="fas fa-tags oferta">50% OFF</span>
                                    <p>Producto</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <a  class="carousel-control-prev controlPrev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next controlNext" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- SECCION CATEGORIAS -->
            <div style="background-color: black;">
            <div class="container" style="background-color: black;">
            <div class="row Categorias justify-content-around py-5" >
                <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection" style="background-image: url('/img/PESCA.png'); background-position-x: center;">
                    <div class="row justify-content-center" >
                        <h4 class="textoCat text-center">
                            PESCA
                            <a href="/products/search?search=pesca">
                                <h4 class="catIr text-white">Ver más</h4>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection" style="background-image: url('/img/ACCESORIOS.png'); background-position-x: center;">
                    <div class="row justify-content-center" >
                        <h4 class="textoCat text-center">
                            ACCESORIOS
                            <a href="/products/search?search=accesorios">
                                <h4 class="catIr text-white">Ver más</h4>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection" style="background-image: url('/img/indumentaria.jpg'); background-position-x: center;">
                    <div class="row justify-content-center" >
                        <h4 class="textoCat text-center">
                            INDUMENTARIA
                            <a href="/products/search?search=indumentaria">
                                <h4 class="catIr text-white">Ver más</h4>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection" style="background-image: url('/img/calzado.jpg'); background-position-x: center;">
                    <div class="row justify-content-center" >
                        <h4 class="textoCat text-center">
                            CALZADO
                            <a href="/products/search?search=calzado">
                                <h4 class="catIr text-white">Ver más</h4>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection" style="background-image: url('/img/rifles.png'); background-position-x: center;">
                    <div class="row justify-content-center" >
                        <h4 class="textoCat text-center">
                            RIFLES
                            <a href="/products/search?search=rifles">
                                <h4 class="catIr text-white">Ver más</h4>
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection" style="background-image: url('/img/CAMPING.png'); background-position-x: center;">
                    <div class="row justify-content-center" >
                        <h4 class="textoCat text-center">
                            CARPAS
                            <a href="/products/search?search=carpas">
                                <h4 class="catIr text-white">Ver más</h4>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <!-- SECCION MARCAS -->
            <div class="row marcas justify-content-center my-3">
                <div class="col-1 col-md-2 col-lg-2">
                    <img src="/img/marcas-1.jpg" alt="...">
                </div>
                <div class="col-1 col-md-2 col-lg-2">
                    <img src="/img/marcas-1.jpg" alt="...">
                </div>
                <div class="col-1 col-md-2 col-lg-2">
                    <img src="/img/marcas-1.jpg" alt="...">
                </div>
                <div class="col-1 col-md-2 col-lg-2">
                    <img src="/img/marcas-1.jpg" alt="...">
                </div>
                <div class="col-1 col-md-2 col-lg-2">
                    <img src="/img/marcas-1.jpg" alt="...">
                </div>
                <div class="col-1 col-md-2 col-lg-2">
                    <img src="/img/marcas-1.jpg" alt="...">
                </div>
            </div>
        </div>
        </div>
    </main>
    <!--====  End of Content  ====-->
    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
</body>

</html>