<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="/css/index.css">
    <title></title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!--=============================
    =            Content            =
    ==============================-->
    
    <main>
           <div style="height: 400px">
               espacio
           </div>
    </main>
    
    <!--====  End of Content  ====-->
    
    <!-- footer -->
    <%- include('partials/footer.ejs') %>

<!-- scripts -->
<%- include('partials/scripts.ejs') %>
</body>
</html>

