<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- head -->
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <title></title>
    
</head>
<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!--=============================
    =            Content            =
    ==============================-->
    
  <main>
           <div class="">
            <section class="banner">
                    <img src="/img/banner-2.png" alt="">
               </section>

               <!--SECCIÓN: PRODUCTOS-->
     <section>

        <!--caja que contiene todos los productos-->
        <div class="row productos">

            <!--CARROUSEL-->

            <div class="titulo col-12">
                <h2>
                    Carrousel Productos
                </h2>
            </div>
            
                

                 <!--SECCION CATEGORIAS-------------------------------------------------------------------------->

                <div class="tituloCat col-12">
                    <h1>
                            
                    </h1>
                </div>
                <div class="Categorias row">

                    <div class="card col-4 col-lg-2">
                        <a href=""><img src="/img/7.png" alt="" class="card-img"></a>
                        
                       
                    </div>
                    <div class="card col-4 col-lg-2">
                        <img src="/img/PESCA.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center align-items-center">
                            <h4 class="cat text-center">
                                PESCA
                                <a href=""><h4 class="catIr">Ir</h4></a>
                            </h4>
                           
                        </div>
                       
                    </div>
                    <div class="card col-4 col-lg-2">
                        <img src="/img/ACCESORIOS.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center align-items-center">
                            <h4 class="cat text-center">
                                ACCESORIOS
                                <a href=""><h4 class="catIr">Ir</h4></a>
                            </h4>
                           
                        </div>
                       
                    
                    </div>
                    <div class="card col-4 col-lg-2">
                        <img src="/img/7.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center align-items-center">
                            <h4 class="cat text-center">
                                INDUMENTARIA
                                <a href=""><h4 class="catIr">Ir</h4></a>
                            </h4>
                           
                        </div>
                       
                    </div>
                    <div class="card col-4 col-lg-2">
                        <img src="/img/1.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center align-items-center">
                            <h4 class="cat text-center">
                                CALZADO
                                <a href=""><h4 class="catIr">Ir</h4></a>
                            </h4>
                           
                        </div>
                       
                    </div>
                    <div class="card col-4 col-lg-2">
                        <img src="/img/2.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center align-items-center">
                            <h4 class="cat text-center font-size-10em">
                                OTROS DEPORTES
                                <a href=""><h4 class="catIr">Ir</h4></a>
                            </h4>
                           
                        </div>
                       
                    </div>
                
                
                
            </div>
                
                
                <!--SECCION MARCAS---------------------------------------------------------------------->
                <div class="row justify-content-center">
                    <div class="titulo col-0 col-md-0 col-lg-12 text-center">
                        <h1>
                            
                        </h1>
                    </div>
                    <div class="col-2 col-md-2 col-lg-1">
                        <div class="contenidoMar">
                            <!--ETIQUETA SEMANTICA-->
                            <figure>
                                <img src="/img/marcas-1.jpg" alt="">
                            </figure>
                        </div>
                        <!--finaliza contenido-->
                    </div>
                    <div class="col-2 col-md-2 col-lg-1">
                        <div class="contenidoMar">
                            <!--ETIQUETA SEMANTICA-->
                            <figure>
                                <img src="/img/marcas-2.png" alt="">
                            </figure>
                        </div>
                        <!--finaliza contenido-->
                    </div>
                    <div class="col-2 col-md-2 col-lg-1">
                        <div class="contenidoMar">
                            <!--ETIQUETA SEMANTICA-->
                            <figure>
                                <img src="/img/marcas-3.jpg" alt="">
                            </figure>
                        </div>
                        <!--finaliza contenido-->
                    </div>
                    <div class="col-2 col-md-2 col-lg-1">
                        <div class="contenidoMar">
                            <!--ETIQUETA SEMANTICA-->
                            <figure>
                                <img src="/img/marcas-4.png" alt="">
                            </figure>
                        </div>
                        <!--finaliza contenido-->
                    </div>
                    <div class="col-2 col-md-2 col-lg-1">
                        <div class="contenidoMar">
                            <!--ETIQUETA SEMANTICA-->
                            <figure>
                                <img src="/img/marcas-5.jpg" alt="">
                            </figure>
                        </div>
                        <!--finaliza contenido-->
                    </div>
                    <div class="col-2 col-md-2 col-lg-1">
                        <div class="contenidoMar">
                            <!--ETIQUETA SEMANTICA-->
                            <figure>
                                <img src="/img/marcas-6.png" alt="">
                            </figure>
                        </div>
                        <!--finaliza contenido-->
                    </div>
                   
                </div>
                

                
        </div>
        <!--finaliza el div.row-->
    </section>
    
    <!--FINALIZA PRODUCTOS-->
           </div>


    </main> 
    
    <!--====  End of Content  ====-->
    
    <!-- footer -->
    <%- include('partials/footer.ejs') %>

    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
</body>
</html>

