<%- include('partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>
    <!--=============================
    =            Content            =
    ==============================-->
    <main class="mainProductCart">
        <!-- CUERPO DEL CARRITO-->
    <div class="container">
        <div class="row my-3" style="padding: 0px 5px">
            <!-- FORMULARIO  -->
            <form action="">
                <div class="encabezado">
                    <h5 class="titleSection card-header text-center">
                        Carrito de compras
                    </h5>
                    <div id="paginacion">
                        <span class="izquierda">&laquo; Anterior</span>
                    </div>
                </div>
                <!--PRODUCTO SELECCIONADO, DESCRIPCION, CANTIDAD DE UNIDADES y PRECIO -->
                <h4>Productos seleccionados</h4>
                <div class="producto">
                    <div class="codigo ">
                        <div class="imagen col-3 col-md-2">
                            <h4>Producto</h4>
                            <img src="/img/products/Carpa-Hummer-Diner-Pro-300x300.jpg">
                        </div>
                        <div class="card col-5">
                            <div class="card-body">
                                "Carpa Hummer Diner Pro",Lorem ipsum dolor sit.
                            </div>
                        </div>
                        <div class="cantidad-precio">
                            <div class="precio">
                                <span><span>$</span>12345</span>
                            </div>
                        </div>
                        <div class="input col-3 col-md-2 col-lg-2">
                            <select class="custom-select" id="" aria-label="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="cantidad-precio">
                            <div class="precio">
                                <span><span>$</span>56789</span>
                            </div>
                        </div>
                        <a class="tachito" id="" href=""><i class="fa fa-trash" style="color:#7daa1e"></i></a>
                    </div>
                </div>
                <div class="producto">
                    <div class="codigo ">
                        <div class="imagen col-3 col-md-2">
                            <h4>Producto</h4>
                            <img src="/img/products/Indumentaria-Chaleco-de-pesca-Waterdog-FV35063-300x300.jpg">
                        </div>
                        <div class="card col-5">
                            <div class="card-body">
                                "Carpa Hummer Diner Pro",Lorem ipsum dolor sit.
                            </div>
                        </div>
                        <div class="cantidad-precio">
                            <div class="precio">
                                <span><span>$</span>12345</span>
                            </div>
                        </div>
                        <div class="input col-3 col-md-2 col-lg-2">
                            <select class="custom-select" id="" aria-label="">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="cantidad-precio">
                            <div class="precio">
                                <span><span>$</span>12345</span>
                            </div>
                        </div>
                        <a class="tachito" id="" href=""><i class="fa fa-trash" style="color:#7daa1e;"></i></a>
                    </div>
                </div>
                <div class="row total "  >
                    <h4>TOTAL A PAGAR :<span><span>$</span> 12345 </span></h4>                 
                </div>
                <!-- METODOS DE PAGO, CODIGO DESCUENTO Y  METODO DE ENVIO-->
                <div class="pago-envio col-12 ">
                    <div class=" col-md-4 col-lg-4" style="text-align: center">
                        <h5>Metodo de pago</h5>
                        <div class="input">
                            <select class="custom-select" id="" aria-label="">
                                <option value="1">Efectivo</option>
                                <option value="2">Tarjeta de credito</option>
                                <option value="3">Transferencia</option>
                                <option value="4">Pago QR</option>
                                <option value="5">Mercado Pago</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-md-4 col-lg-4" style="text-align: center">
                        <h5>Codigo de descuento</h5>
                        <div class="">
                            <label><input type="text-number"></label>
                        </div>
                    </div>
                    <div class=" col-md-4 col-lg-4" style="text-align: center">
                        <h5>Metodo de envio</h5>
                        <div class="input">
                            <select class="custom-select" id="" aria-label="">
                                <option value="Re">Retira en local</option>
                                <option value="Co">Correo</option>
                                <option value="Mo">Motomensajeria</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- CAJA DE BOTONES (FINALIZAR COMPRA-AGREGAR PRODUCTO-VACIAR CARRITO)-->
                <div class="botonesAccion">
                    <div class="my-2 accion col-md-4 col-lg-4">
                        <a href=""><button class="botones btn btn-outline-dark" type="button" >FINALIZAR COMPRA</button></a>
                    </div>
                    <div class="my-2 accion  col-md-4 col-lg-4">
                        <a href="/products"><button class="botones btn btn-outline-dark" type="button" >SEGUIR COMPRANDO</button></a>
                    </div>
                    <div class="my-2 accion  col-md-4 col-lg-4">
                        <a href="/"><button class="botones btn btn-outline-dark" type="button"  style="opacity:0.6" >VACIAR CARRITO</button></a>
                    </div>
                </div>
            </form>




            <!-- SECCIÓN CAROUSEL -->
            <h2 class="text-center tituloCarousel my-3"> Productos Recomendados </h2>
        
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner ContenedorCarousel">
                    <div class="carousel-item active">
                        <div class="row productos justify-content-around">
                              
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="../img/products/Accesorios-Cortaplumas-Victorinox-Fisherman-Roja-17-Usos-1.4733.72-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center p-3">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="/img/products/Rifles-Rifle-Aire-Comprimido-Resortero-Calibre-5mm-Economico-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center p-3">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="/img/products/Accesorios-Anafe-Brogas-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row productos justify-content-around">
                              
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="../img/products/Accesorios-Cortaplumas-Victorinox-Fisherman-Roja-17-Usos-1.4733.72-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center p-3">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="/img/products/Rifles-Rifle-Aire-Comprimido-Resortero-Calibre-5mm-Economico-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center p-3">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="/img/products/Accesorios-Anafe-Brogas-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row productos justify-content-around">
                              
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="../img/products/Accesorios-Cortaplumas-Victorinox-Fisherman-Roja-17-Usos-1.4733.72-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center p-3">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="/img/products/Rifles-Rifle-Aire-Comprimido-Resortero-Calibre-5mm-Economico-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                            <div class="contenido col-3 my-4">

                                <!--ETIQUETA SEMANTICA-->
                                <figure class="text-center p-3">
                                    <a href="/products/detail/2 ">
                                        <img style="max-width: 100%;" src="/img/products/Accesorios-Anafe-Brogas-300x300.jpg" alt=" ">
                                    </a>
                                </figure>
    
                                <!--informacion-->
                                <article class="text-center">
                                    <!--nombre del producto ??-->
                                    <p>
                                        producto destacado
                                    </p>
                                    <!--precio-->
                                    <h2 class="d-inline">$
                                        1567
                                    </h2>
                                    <!--descuento-->
                                    %off
                                    
                                    <!--icono de envío-->
                                    <i class="fas fa-truck "></i>
    
                                    <!--botones ver y comprar-->
                                    <div class="d-block m-3">
                                    <button type="button" class="btn btn-outline-dark">Ver</button>
                                    <button type="button" class="btn btn-dark">Comprar</button>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    </div>



            <a class="carousel-control-prev controlPrev" href="#carouselExampleControls" role="button" data-slide="prev">
                <i  style="font-size:50px ;" class="fas fa-chevron-circle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next controlNext" href="#carouselExampleControls" role="button" data-slide="next">
                <i style="font-size:50px ;" class="fas fa-chevron-circle-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
        </div>
            </div>  
        </div>
    </div>
    </main>
    <!--====  End of Content  ====-->
    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
</body>

</html>