<%- include('partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>
    <!--=============================
    =            Content            =
    ==============================-->
    <main class="mainProductAdd">
    <!-- CUERPO DE ADMINISTRACION-->
    <div class="container">
        <div class="row" style="padding: 0px 15px">
            <!-- FORMULARIO -->
            <form class="container my-3 montserrat p-0"  action="">
                <div class="encabezado">
                    <p class="titles p-1">Administrador de productos</p>
                    <div id="paginacion">
                        <span class="izquierda">&laquo; Anterior</span>
                    </div>
                </div>
                <div class="row Categorias">
                    <div class="col-8 col-md-4 col-lg-4 my-4">
                        <img src="/img/CAMPING.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center">
                            <a href="">
                                <h4 class="textoCat text-center">CARPAS</h4>
                            </a> 
                        </div>
                    </div>
                    <div class="col-8 col-md-4 col-lg-4 my-4">
                        <img src="/img/PESCA.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center">
                            <a href="">
                                <h4 class="textoCat text-center">PESCA</h4>
                            </a>   
                        </div>
                    </div>
                    <div class="col-8 col-md-4 col-lg-4 my-4">
                        <img src="/img/ACCESORIOS.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center">
                            <a href="">
                                <h4 class="textoCat text-center">ACCESORIOS</h4>
                            </a>   
                        </div>
                    </div>
                    <div class="col-8 col-md-4 col-lg-4 my-4">
                        <img src="/img/indumentaria.jpg" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center">
                            <a href="">
                                <h4 class="textoCat text-center">INDUMENTARIA</h4>
                            </a>   
                        </div>
                    </div>
                    <div class="col-8 col-md-4 col-lg-4 my-4">
                        <img src="/img/calzado.jpg" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center">
                            <a href="">
                                <h4 class="textoCat text-center">CALZADO</h4>
                            </a>   
                        </div>
                    </div>
                    <div class="col-8 col-md-4 col-lg-4 my-4">
                        <img src="/img/rifles.png" alt="" class="card-img">
                        <div class="row card-img-overlay justify-content-center">
                            <a href="">
                                <h4 class="textoCat text-center">RIFLES</h4>
                            </a>   
                        </div>
                    </div>
                </div>
            </form>
            <h6>*Debe seleccionar una categoría para acceder a la administracion de productos(info-modificar-agregar-eliminar)</h6>
            
        </div>
    </div>
    </main>
    <!--====  End of Content  ====-->
    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
</body>

</html>