<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- head -->
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title></title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!--=============================
    =            Content            =
    ==============================-->
    
    <main class="main">
           <div style="height: 691px">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-12 mt-5">
                          <h2 class=>Crear Cuenta</h2>
                          <hr class="bg-info">
                          <p class="text-danger small pt-0 mt-0">*Todos los campos son obligatorios</p>
                          <form>
                              <div class="row form-group">
                                  <label for="nombre" class="col-form-label col-md-4 ">Nombre:</label>
                                  <div class="col-md-8">
                                      <input type="text" name="nombre" value="" id="nombre" class="form-control">
                                  </div>
                              </div>
                              <div class="row form-group">
                                <label for="nombre" class="col-form-label col-md-4 ">Apellido:</label>
                                <div class="col-md-8">
                                    <input type="text" name="Apellido" value="" id="Apellido" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="nombre" class="col-form-label col-md-4 ">E-mail:</label>
                                <div class="col-md-8">
                                    <input type="email" name="E-mail" value="" id="E-mail" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="Contraseña" class="col-form-label col-md-4 ">Contraseña:</label>
                                <div class="col-md-8">
                                    <input type="password" name="Contraseña" value="" id="Contraseña" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="nombre" class="col-form-label col-md-4 ">Confirmar Contraseña:</label>
                                <div class="col-md-8">
                                    <input type="password" name="Confirmar Contraseña" value="" id="Confirmar Contraseña" class="form-control">
                                </div>
                            </div> 
                            <div class="row justify-content-center align-items-center">
                                <div class="col-sm-4 text-center">
                                    <button class="register btn btn-primary " type="submit">Registrarme</button>
                                </div>
                            </div>
                            
                                
                            
                          </form>
                      </div>
                  </div>
              </div>
           </div>
    </main>
    
    <!--====  End of Content  ====-->
    
    <!-- footer -->
        <%- include('partials/footer.ejs') %>
    <!-- scripts -->
        <%- include('partials/scripts.ejs') %>
    
</body>
</html>

