<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- head -->
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title></title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!--=============================
    =            Content            =
    ==============================-->
    
    <main>
           <div style="height: 400px">
               espacio
           </div>
    </main>
    
    <!--====  End of Content  ====-->
    
    <!-- footer -->
    <%- include('partials/footer.ejs') %>

    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
</body>
</html>

