<header class="">
    <!--====================================
    =            Barra superior            =
    =====================================-->
    <div class="container-fluid colorBarraSuperior">
        <div class="container">
            <div class="row barraSuperior d-none d-md-flex">
                <div class="col-6">
                    <ul>
                        <!-- Redes sociales -->
                        <li class="align-middle"><i class="fab fa-telegram-plane"></i></li>
                        <li class="align-middle"><i class="fab fa-facebook-f"></i></li>
                        <li class="align-middle"><i class="fab fa-twitter"></i></li>
                        <li class="align-middle"><i class="fas fa-map-marker-alt"></i></li>
                    </ul>
                </div>
                <!-- ingresar/registrarse -->
                <div class="col-6 text-right">
                    <ul>
                        <a href="/login" style="color: lightgray;"><li>Ingresar</li></a>
                        <a href="/register" style="color: lightgray;"><li class="bar">Registrarse</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--====  End of Barra superior  ====-->
    <!--====================================
    =            Barra inferior            =
    =====================================-->
    <div class="container-fluid colorBarraInferior">
        <div class="container">
            <nav class="row barraInferior">
                <!-- Carrito de compras -->
                <div class="col-3 d-md-none">
                    <a href="/productCart" style="color: white;"><i class="fas fa-shopping-cart"></i></a>
                </div>
                <!-- logo -->
                <div class="col-6 col-md-4 col-lg-3 order-md-1 text-center text-md-left contenedorLogo my-3">
                    <a href="/">
                    <img class="imgLogo" src="/img/logo-camping-border0.png" alt="">
                    </a>
                </div>
                <!-- Boton desplegable -->
                <div class="col-3 col-md-3 order-md-4  d-lg-none">
                    <div class="row">
                        <div class="col d-none d-md-inline">
                        <a href="/productCart" style="color: white;"> <i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <div class="col">
                            <button class="align-middle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fa fa-bars fa-lg py-1 text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Buscador -->
                <div class="col-12 col-md-5 order-md-2 d-lg-none buscadorContainer">
                    <form class="mb-4 mb-md-0" action="/action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- navbar a desplegar -->
                <div class="collapse navbar-collapse order-5" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle p-0 text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pesca
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li><a class="text-white" href="">Calzado</a></li>
                        <li><a class="text-white" href="">Ropa</a></li>
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle p-0 text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Herramientas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="" class="text-white">Armas</a></li>
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle p-0 text-white" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Camping
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Navegador desplegado (lg) -->
                <div class="d-none d-lg-flex col-lg-9 order-6">
                    <div class="row w-100 justify-content-between navContentLg">
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pesca
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="">Calzado</a></li>
                        <li><a href="">Ropa</a></li>
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Herramientas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="">Armas</a></li>
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Camping
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                        <a href="/productCart" style="color: white;"> <i class="fas fa-shopping-cart"></i></a>
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <!--====  End of Barra inferior  ====-->
</header>