<%- include('partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <main>

        <h1>COMPRA CONFIRMADA! FELICITACIONES RECIBIRA SU PRODUCTO EN LA BREVEDAD</h1>



    </main>


        <!-- footer -->
    <%- include('partials/footer.ejs') %>

</body>
    
</html>