<%- include('partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <main>

        <h4 style="height: 65vh;margin: 50px 0 0 140px;">COMPRA CONFIRMADA! FELICITACIONES RECIBIRA SU PRODUCTO EN LA BREVEDAD</h4>



    </main>


        <!-- footer -->
    <%- include('partials/footer.ejs') %>

</body>
    
</html>