<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<body>
    <!-- Header -->
    

    <main class="container">
        <div class="text-center mt-5">
            <p style="font-size: 15vh; line-height: 140px;" class="m-0">¡Muchas gracias!</p>
            <p class="m-0">La compra a sido completada, un correo con la factura llegara a su mail registrado a la brevedad</p>
            <div class="mt-5 accion col" style="margin-bottom: 22vh;">
                <a href="/products"><button class="botones btn" style="background-color: #4d582a; color: white;" type="button">Seguir comprando</button></a>
            </div>
            </div>
        

    </main>


        <!-- footer -->
    <%- include('partials/footer.ejs') %>

</body>
    
</html>