<%- include('partials/head.ejs') %>

<body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>
    <!--=============================
    =            Content            =
    ==============================-->
    <main class="mainIndex">
        <!--CAJA CONTENIDO GENERAL-->
        <div class="Home">

            <!-- BANNER -->
            <div class="banner" style="background-image: url('https://images4.alphacoders.com/797/797952.jpg');">
                <div class="text-white text-center">
                    <p class="m-0 bienvenido">Bienvenido</p>
                    <p>Esperamos que encuentre todo lo que busca</p>
                    <a class="text-white" href="#carousel"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>

            <!-- SECCIÓN CAROUSEL -->
            <h2 class="text-center tituloCarousel my-3" id="carousel">Recomendados </h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner ContenedorCarousel">
                    <div class="carousel-item active">
                        <div class="row productos justify-content-around montserrat">
                            <div class="col-4 col-md-3 col-lg-3 mb-3">
                                <div class="contenido p-3">

                                    <!--ETIQUETA SEMANTICA-->
                                    <figure class="text-center">
                                        <a href="/products/detail/25">
                                            <img src="/img/products/Indumentaria-Campera-Bugaboo-dama-Gris-300x300.jpg"
                                                class="d-block w-100" alt="...">
                                        </a>
                                    </figure>

                                    <!--informacion-->
                                    <article class="text-center">
                                        <!--nombre del producto ??-->
                                        <p class="m-0">
                                            Campera Columbia Bugaboo II desmontable 3 en 1
                                        </p>
                                        <!--precio-->
                                        <h2 class="d-inline">
                                            2.762
                                        </h2>
                                        <!--descuento-->
                                        $3.682 / 25 % OFF

                                        <!--icono de envío-->
                                        <i class="fas fa-truck "></i>

                                        <!--botones ver y comprar-->
                                        <div class="d-block m-3">
                                            <form class="d-inline" action="/products/agregarAlCarrito/25?_method=PUT"
                                                method="POST" enctype="multipart/form-data">
                                                <a href="/products/detail/25"><button type="button"
                                                        class="btn btn-outline-dark">Ver</button></a>
                                                <a><button class="btn-carrito btn  btn-dark"
                                                        value="25">Carrito</button></a>
                                            </form>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="col-4 col-md-3 col-lg-3 mb-3">
                                <div class="contenido p-3">

                                    <!--ETIQUETA SEMANTICA-->
                                    <figure class="text-center">
                                        <a href="/products/detail/44">
                                            <img src="/img/products/Rifles-Rifle-Fox-M16-Pcp-Cal-5mm-350cc-Con-Cargador-300x300.jpg"
                                                class="d-block w-100" alt="...">
                                        </a>
                                    </figure>

                                    <!--informacion-->
                                    <article class="text-center">
                                        <!--nombre del producto ??-->
                                        <p class="m-0">
                                            Rifle Gas Comprimido Shark Repetición 5 mm Balines
                                        </p>
                                        <!--precio-->
                                        <h2 class="d-inline">
                                            3.627
                                        </h2>
                                        <!--descuento-->
                                        $4.030 / 10 % OFF

                                        <!--icono de envío-->
                                        <i class="fas fa-truck "></i>

                                        <!--botones ver y comprar-->
                                        <div class="d-block m-3">
                                            <form class="d-inline" action="/products/agregarAlCarrito/44?_method=PUT"
                                                method="POST" enctype="multipart/form-data">
                                                <a href="/products/detail/44"><button type="button"
                                                        class="btn btn-outline-dark">Ver</button></a>
                                                <a><button class="btn-carrito btn  btn-dark"
                                                        value="44">Carrito</button></a>
                                            </form>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="col-4 col-md-3 col-lg-3 mb-3">
                                <div class="contenido p-3">

                                    <!--ETIQUETA SEMANTICA-->
                                    <figure class="text-center">
                                        <a href="/products/detail/18">
                                            <img src="/img/products/Accesorios-Cortaplumas-Victorinox-Fisherman-Roja-17-Usos-1.4733.72-300x300.jpg"
                                                class="d-block w-100" alt="...">
                                        </a>
                                    </figure>

                                    <!--informacion-->
                                    <article class="text-center">
                                        <!--nombre del producto ??-->
                                        <p class="m-0">
                                            Cortaplumas Victorinox Fisherman Roja 17 Usos
                                        </p>
                                        <!--precio-->
                                        <h2 class="d-inline">

                                            1.063

                                        </h2>
                                        <!--descuento-->
                                        $1.250 / 15 % OFF
                                        <!--icono de envío-->
                                        <i class="fas fa-truck "></i>

                                        <!--botones ver y comprar-->
                                        <div class="d-block m-3">
                                            <form class="d-inline" action="/products/agregarAlCarrito/18?_method=PUT"
                                                method="POST" enctype="multipart/form-data">
                                                <a href="/products/detail/18"><button type="button"
                                                        class="btn btn-outline-dark">Ver</button></a>
                                                <a><button class="btn-carrito btn  btn-dark"
                                                        value="18">Carrito</button></a>
                                            </form>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row productos justify-content-around montserrat">
                            <div class="col-4 col-md-3 col-lg-3 mb-3">
                                <div class="contenido p-3">

                                    <!--ETIQUETA SEMANTICA-->
                                    <figure class="text-center">
                                        <a href="/products/detail/25">
                                            <img src="/img/products/Indumentaria-Campera-Bugaboo-dama-Gris-300x300.jpg"
                                                class="d-block w-100" alt="...">
                                        </a>
                                    </figure>

                                    <!--informacion-->
                                    <article class="text-center">
                                        <!--nombre del producto ??-->
                                        <p class="m-0">
                                            Campera Columbia Bugaboo II desmontable 3 en 1
                                        </p>
                                        <!--precio-->
                                        <h2 class="d-inline">
                                            2.762
                                        </h2>
                                        <!--descuento-->
                                        $3.682 / 25 % OFF

                                        <!--icono de envío-->
                                        <i class="fas fa-truck "></i>

                                        <!--botones ver y comprar-->
                                        <div class="d-block m-3">
                                            <form class="d-inline" action="/products/agregarAlCarrito/25?_method=PUT"
                                                method="POST" enctype="multipart/form-data">
                                                <a href="/products/detail/25"><button type="button"
                                                        class="btn btn-outline-dark">Ver</button></a>
                                                <a><button class="btn-carrito btn  btn-dark"
                                                        value="25">Carrito</button></a>
                                            </form>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="col-4 col-md-3 col-lg-3 mb-3">
                                <div class="contenido p-3">

                                    <!--ETIQUETA SEMANTICA-->
                                    <figure class="text-center">
                                        <a href="/products/detail/44">
                                            <img src="/img/products/Rifles-Rifle-Fox-M16-Pcp-Cal-5mm-350cc-Con-Cargador-300x300.jpg"
                                                class="d-block w-100" alt="...">
                                        </a>
                                    </figure>

                                    <!--informacion-->
                                    <article class="text-center">
                                        <!--nombre del producto ??-->
                                        <p class="m-0">
                                            Rifle Gas Comprimido Shark Repetición 5 mm Balines
                                        </p>
                                        <!--precio-->
                                        <h2 class="d-inline">
                                            3.627
                                        </h2>
                                        <!--descuento-->
                                        $4.030 / 10 % OFF

                                        <!--icono de envío-->
                                        <i class="fas fa-truck "></i>

                                        <!--botones ver y comprar-->
                                        <div class="d-block m-3">
                                            <form class="d-inline" action="/products/agregarAlCarrito/44?_method=PUT"
                                                method="POST" enctype="multipart/form-data">
                                                <a href="/products/detail/44"><button type="button"
                                                        class="btn btn-outline-dark">Ver</button></a>
                                                <a><button class="btn-carrito btn  btn-dark"
                                                        value="44">Carrito</button></a>
                                            </form>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="col-4 col-md-3 col-lg-3 mb-3">
                                <div class="contenido p-3">

                                    <!--ETIQUETA SEMANTICA-->
                                    <figure class="text-center">
                                        <a href="/products/detail/18">
                                            <img src="/img/products/Accesorios-Cortaplumas-Victorinox-Fisherman-Roja-17-Usos-1.4733.72-300x300.jpg"
                                                class="d-block w-100" alt="...">
                                        </a>
                                    </figure>

                                    <!--informacion-->
                                    <article class="text-center">
                                        <!--nombre del producto ??-->
                                        <p class="m-0">
                                            Cortaplumas Victorinox Fisherman Roja 17 Usos
                                        </p>
                                        <!--precio-->
                                        <h2 class="d-inline">

                                            1.063

                                        </h2>
                                        <!--descuento-->
                                        $1.250 / 15 % OFF
                                        <!--icono de envío-->
                                        <i class="fas fa-truck "></i>

                                        <!--botones ver y comprar-->
                                        <div class="d-block m-3">
                                            <form class="d-inline" action="/products/agregarAlCarrito/18?_method=PUT"
                                                method="POST" enctype="multipart/form-data">
                                                <a href="/products/detail/18"><button type="button"
                                                        class="btn btn-outline-dark">Ver</button></a>
                                                <a><button class="btn-carrito btn  btn-dark"
                                                        value="18">Carrito</button></a>
                                            </form>
                                        </div>
                                    </article>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev controlPrev" href="#carouselExampleControls" role="button"
                    data-slide="prev">
                    <i class="fas fa-chevron-circle-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next controlNext" href="#carouselExampleControls" role="button"
                    data-slide="next">
                    <i class="fas fa-chevron-circle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- SECCION CATEGORIAS -->
            <div style="background-color: black;">
                <div class="container" style="background-color: black;">
                    <div class="row Categorias justify-content-around py-5">
                        <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection"
                            style="background-image: url('/img/PESCA.png'); background-position-x: center;">
                            <div class="row justify-content-center">
                                <h4 class="textoCat text-center">
                                    PESCA
                                    <a href="/products/search?search=pesca">
                                        <h4 class="catIr text-white">Ver más</h4>
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection"
                            style="background-image: url('/img/ACCESORIOS.png'); background-position-x: center;">
                            <div class="row justify-content-center">
                                <h4 class="textoCat text-center">
                                    ACCESORIOS
                                    <a href="/products/search?search=accesorios">
                                        <h4 class="catIr text-white">Ver más</h4>
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection"
                            style="background-image: url('/img/indumentaria.jpg'); background-position-x: center;">
                            <div class="row justify-content-center">
                                <h4 class="textoCat text-center">
                                    INDUMENTARIA
                                    <a href="/products/search?search=indumentaria">
                                        <h4 class="catIr text-white">Ver más</h4>
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection"
                            style="background-image: url('/img/calzado.jpg'); background-position-x: center;">
                            <div class="row justify-content-center">
                                <h4 class="textoCat text-center">
                                    CALZADO
                                    <a href="/products/search?search=calzado">
                                        <h4 class="catIr text-white">Ver más</h4>
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection"
                            style="background-image: url('/img/rifles.png'); background-position-x: center;">
                            <div class="row justify-content-center">
                                <h4 class="textoCat text-center">
                                    RIFLES
                                    <a href="/products/search?search=rifles">
                                        <h4 class="catIr text-white">Ver más</h4>
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-8 col-md-5 col-lg-5 my-5 categoriaSection"
                            style="background-image: url('/img/CAMPING.png'); background-position-x: center;">
                            <div class="row justify-content-center">
                                <h4 class="textoCat text-center">
                                    CARPAS
                                    <a href="/products/search?search=carpas">
                                        <h4 class="catIr text-white">Ver más</h4>
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECCION MARCAS -->
            <h2 class="text-center text-black tituloCarousel my-3">Marcas</h2>
            <div class="container  justify-content-center my-3">
                <div class="row">
                    <div class="marcas col-4 col-md-2 col-lg-2">
                        <img src="/img/logo-marcacolumbia.png" alt="">
                    </div>
                    <div class="marcas col-4 col-md-2 col-lg-2">
                        <img src="/img/logo-marcacoleman.png" alt="">
                    </div>
                    <div class="marcas col-4 col-md-2 col-lg-2">
                        <img src="/img/logo-marcawaterdog.png" alt="">
                    </div>
                    <div class="marcas col-4 col-md-2 col-lg-2">
                        <img src="/img/logo-marcahummer.png" alt="">
                    </div>
                    <div class="marcas col-4 col-md-2 col-lg-2">
                        <img src="/img/logo-marcashark.png" alt="">
                    </div>
                    <div class="marcas col-4 col-md-2 col-lg-2">
                        <img src="/img/logo-marcashimano.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--====  End of Content  ====-->
    <!-- footer -->
    <%- include('partials/footer.ejs') %>
    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
</body>

</html>